.container {
  display: flex;
  justify-content: center; /* Align horizontally */
  align-items: center;     /* Align vertically */
  height: 60vh;           /* Full viewport height */
}

.content {
}

.container2 {
  display: flex;
  justify-content: center;  /* Horizontal alignment */
  align-items: center;      /* Vertical alignment */
  height: 100vh;            /* You can adjust the height */
}

.text {
  font-size: 60px;          /* Adjust font size as needed */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* translucent white */
  z-index: 9999;
}
