<div *ngIf="TESTING">
  <button (click)="onMinusButtonClick()">-</button>
  <button (click)="onPlusButtonClick()">+</button>
</div>


<div *ngIf="page < 3 && page > -1" style="height: 50px;">
  <div *ngIf="!controls.auto" class="flex items-center space-x-4">
    <!-- Left Button -->
    <button 
      (click)="onMinusButtonClick()"
      [disabled]="page === 0" 
      class="px-4 py-2 bg-gray-300 text-gray-700 rounded disabled:opacity-50"
    >
      &larr;
    </button>

    <!-- Page Number -->
    <span class="text-lg font-semibold">{{ page }}</span>

    <!-- Right Button -->
    <button 
      (click)="onPlusButtonClick()" 
      [disabled]="page === pageStructure.maxPageIndex" 
      class="px-4 py-2 bg-gray-300 text-gray-700 rounded disabled:opacity-50"
    >
      &rarr;
    </button>
  </div>
</div>


<div id="content">

  <div [ngSwitch]="page">

    <div *ngSwitchCase="-1">
      <div class="container2">
        <button (click)="onPlusButtonClick()">Start</button>
      </div>
    </div>

    <div *ngSwitchCase="0">
      <div style="display: flex; justify-content: center;margin-top: 0px;">
        <img src="{{ mediaUrl }}{{ pageStructure.imageUrl }}" height="600px" alt="audio image" />
      </div>

      <div *ngIf="!controls.auto">
        <br>

      <div style="display: flex; justify-content: center;">
        <audio controls>
          <source src="{{ mediaUrl }}{{ pageStructure.audioUrl }}" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
      </div>
      </div>
    </div>


    <div *ngSwitchCase="1">
      <div class="container">
        <div class="content">
          <div style="display: flex; justify-content: center; margin-top: 0px; font-size: 36px;">
            <markdown ngPreserveWhitespaces
              [data]="pageStructure.markdown"
              [disableSanitizer]="true">
            </markdown>
          </div>

          <div>
            <label
              *ngFor="let option of pageStructure.options; let i = index"
              style="display: block; margin-bottom: 8px; font-size: 28px;"
            >
              <input
                type="radio"
                name="choices"
                [value]="option"
                [checked]="i === state['0']"
                (change)="onSelect(i,0)"
              />
              {{ option }}
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="!controls.auto; else autoControl">
      <div style="display: flex; justify-content: center;">
        <audio controls>
          <source src="{{ mediaUrl }}{{ pageStructure.audioUrl }}" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
      </div>
      </div>

      <ng-template #autoControl>
        <app-svg-countdown 
          [duration]="countdownDuration" 
          [enableSound]="soundEnabled"
          (countdownComplete)="onCountdownComplete()">
        </app-svg-countdown>
      </ng-template>
    </div>


    <div *ngSwitchCase="2">
      <div class="container">
        <div class="content">
          <div style="display: flex; justify-content: center;font-size: 36px;">
            <markdown ngPreserveWhitespaces katex
              [data]="pageStructure.markdown"
              [disableSanitizer]="true">
            </markdown>
          </div>

          <div>
            <label
              *ngFor="let option of pageStructure.options; let i = index"
              style="display: block; margin-bottom: 8px; font-size: 28px;"
            >
              <input
                type="radio"
                name="choices"
                [value]="option"
                [checked]="i === state['1']"
                (change)="onSelect(i,1)"
              />
              {{ option }}
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="!controls.auto; else autoControl">
      <div style="display: flex; justify-content: center;">
        <audio controls>
          <source src="{{ mediaUrl }}{{ pageStructure.audioUrl }}" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
      </div>
      </div>

      <ng-template #autoControl>
        <app-svg-countdown 
          [duration]="countdownDuration" 
          [enableSound]="soundEnabled"
          (countdownComplete)="onCountdownComplete()">
        </app-svg-countdown>
      </ng-template>
    </div>


    <div *ngSwitchDefault>
      <div class="container2">
        <p class="text">The End</p>
      </div>
    </div>

  </div>
</div>

<!-- Translucent Overlay -->
<div *ngIf="isServiceUnavailable" class="overlay d-flex justify-content-center align-items-center">
  <div class="card text-center p-4 shadow">
    <div class="card-body">
      <h4 class="card-title text-danger mb-3">Service Unavailable</h4>
      <p class="card-text">The service is currently unavailable. Please try again later.</p>
    </div>
  </div>
</div>