<div [ngSwitch]="ttid">

  <div *ngSwitchCase="'1'">
    <p><b><u>State</u></b></p>

    <p>Current Value: {{ n }}</p>
    <button (click)="changeValue()">Change Value</button>

    <br>

    <div>
      <p><b><u>Web Socket</u></b></p>

      <input type="text" [(ngModel)]="message" placeholder="Enter message" />
      <br>
      <button (click)="sendMessage()">Send Message</button>
      <button (click)="disconnect()">Disconnect</button>
    </div>
  </div>

  <div *ngSwitchCase="'3'">


    <div class="question-container" *ngFor="let item of structure; let i = index"
      [hidden]="i !== state.page" 
    >

      <div class="title"><b><u>{{ item.title }}</u></b></div>

      <br>

      <div class="question">{{ item.mcq.statement }}</div>
      <div class="choices">
        <div *ngFor="let choice of item.mcq.choices; let j = index">
          <input
            type="radio"
            name="question{{ i }}"
            [value]="j"
            (change)="onAnswerChange(i, j)"
            [checked]="selectedAnswers[i] === j"
            [disabled]="!state.pageState[i].chooseState"
          />
          {{ choice }}
        </div>
      </div>
      
      <!-- Submit button for each question -->
      <button (click)="submitAnswer(i)" [disabled]="!state.pageState[i].chooseState">Submit Answer</button>

      <br><br>

      <div class="navigation"><b><u>Navigation</u></b></div>

      <div class="flex space-x-2">
        <button 
          *ngFor="let page of item.navigablePages" 
          (click)="navigate(page)" 
          class="px-4 py-2 text-black rounded transition"
        >
          {{ page }}
        </button>
      </div>

      <br>

      <div class="statistics"><b><u>Statistics</u></b></div>
      <!--
      <p>{{ statistics | json }}</p>
      -->
      <ul>
        <li *ngFor="let key of statistics | keyvalue">
          {{ key.key }}: {{ key.value }}
        </li>
      </ul>
    </div>

    <br>

    <div class="statistics"><b>Page: </b>{{ state.page }}</div>

  </div>

  <div *ngSwitchDefault>
    <div [ngSwitch]="connected">
      <div *ngSwitchCase="true">
        <ng-container *ngComponentOutlet="component"></ng-container>
      </div>

      <div *ngSwitchDefault>
        Connecting...
      </div>
    </div>
  </div>

</div>




