<h3>Task {{ tid }}</h3>
<div></div>

<br><br>

<h3>Users</h3>
<div>
  <ul>
    <li *ngFor="let item of links">
      <a [routerLink]="['/task', item]" target="_blank">{{ item }}</a>
    </li>
  </ul>
</div>

<br><br>

<h3>Controls</h3>
<div>
  <div [ngSwitch]="tid">
    <div style="margin: 20px;" *ngSwitchCase="'5'">
      <mat-slide-toggle 
        [checked]="controls.auto"
        (change)="onToggleChange($event)">
        Autorun
      </mat-slide-toggle>
    </div>
  </div>
</div>

<br><br>

<h3>Statistics</h3>
<div>
  <div *ngIf="['1'].includes(tid + '')">
    <figure id="bar"></figure>
  </div>

  <div *ngIf="environment.constants.workspaceStdVar1.includes(tid + '')">
    <pre>{{ globalStatistics | json }}</pre>

    <button class="btn btn-primary" (click)="downloadData('statistics')">Download CSV</button>
  </div>
</div>

<div *ngIf="['1'].includes(tid + '')">
  <br><br>

  <h3>Web Socket</h3>
  <div>
    <input type="text" [(ngModel)]="message" placeholder="Enter message" />
    
    <br>
    
    <button (click)="sendMessage()">Send Message</button>
    <button (click)="disconnect()">Disconnect</button>
  </div>
</div>


