<div>
  <span><b>Task: </b></span>{{ tid }}
</div>

<br>

<div>
  <p><b><u>Users</u></b></p>
    
  <ul>
    <li *ngFor="let item of links">
      <a [routerLink]="['/task', item]" target="_blank">{{ item }}</a>
    </li>
  </ul>

</div>

<br>

<div>
  <p><b><u>Controls</u></b></p>
   
  <div [ngSwitch]="tid">

    <div style="margin: 20px;" *ngSwitchCase="'5'">
      <mat-slide-toggle 
        [checked]="controls.auto"
        (change)="onToggleChange($event)">
        Autorun
      </mat-slide-toggle>
    </div>

  </div>

</div>

<br>

<div>
  <p><b><u>Statistics</u></b></p>

  <div [ngSwitch]="tid">
    <div *ngSwitchCase="'1'">
      <figure id="bar"></figure>
    </div>

    <div *ngSwitchCase="'3'">
      <pre>{{ globalStatistics | json }}</pre>
    </div>
    
    <div *ngSwitchCase="'6'">
      <pre>{{ globalStatistics | json }}</pre>
    </div>
  </div>
</div>

<div [ngSwitch]="tid">
  <div *ngSwitchCase="'1'">
    <br>

    <p><b><u>Web Socket</u></b></p>

    <input type="text" [(ngModel)]="message" placeholder="Enter message" />
    
    <br>
    
    <button (click)="sendMessage()">Send Message</button>
    <button (click)="disconnect()">Disconnect</button>
  </div>
</div>
