<h3>Task {{ tid }}</h3>
<div></div>

<br><br>

<h3>Users</h3>

<!--

I'm testing, using 8, for the first time, tokenized task page. 
The controller should be able to access the tokens under his control.
However, the controller probably should not be given the right to alter the state
in the task.

One way to handle the logic, is on Django's side instead.
Allow those with token or the coordinator to access the page.
But only those with token are allowed to alter the state of the task.

-->

<div>
  <ul>
    <li *ngFor="let item of links">
      <a href="#" (click)="goToTokenPage($event)">{{ item }}</a>
    </li>
  </ul>
</div>

<br><br>

<h3>Controls</h3>
<div style="margin: 20px;" *ngIf="tid && ( +tid >= 10 )">
  <mat-slide-toggle 
    [checked]="isServiceUnavailable"
    (change)="onToggleChange($event)">
    Switch service off
  </mat-slide-toggle>
</div>
<div style="margin: 20px;" *ngIf="!(tid && ( +tid >= 10 ))">
  <!-- Fallback content -->
  <p>Not allowed</p>
</div>

<br><br>

<h3>Statistics</h3>
<div>
  <div *ngIf="environment.constants.workspaceStdVar1.includes(tid + '')">
    <!-- This is the chart visual. -->
    <app-histogram1 [data]="questionStats"></app-histogram1>

    <!-- Download the data. -->
    <button class="btn btn-primary" (click)="downloadData('statistics')">Download CSV</button>
  </div>
</div>

<div *ngIf="['9'].includes(tid + '')">
  <br><br>

  <h3>Web Socket</h3>
  <div>
    <input type="text" [(ngModel)]="message" placeholder="Enter message" />
    
    <br>
    
    <button (click)="sendMessage()">Send Message</button>
    <button (click)="disconnect()">Disconnect</button>
  </div>
</div>


