.spacer {
  flex: 1 1 auto;
}
.content {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 250px;
  background: #f4f4f4;
  padding: 16px;
}
.main-content {
  flex: 1;
  padding: 16px;
}

.icon-image {
  width: 48px; /* Adjust the size */
  height: 48px;
  cursor: pointer;
}

.icon-link:hover .icon-image {
  opacity: 0.7; /* Optional: Changes opacity on hover */
}