.container {
  display: flex;
  justify-content: center; /* Align horizontally */
  align-items: center;     /* Align vertically */
  height: 60vh;           /* Full viewport height */
}

.content {
}

.container2 {
  display: flex;
  justify-content: center;  /* Horizontal alignment */
  align-items: center;      /* Vertical alignment */
  height: 100vh;            /* You can adjust the height */
}

.text {
  font-size: 60px;          /* Adjust font size as needed */
}
