<div class="title"><b><u>{{ structure.title }}</u></b></div>

<br>

<div class="question">{{ structure.mcq.statement }}</div>

<div class="choices">
<div *ngFor="let choice of structure.mcq.choices; let j = index">
  <input
    type="radio"
    name="question{{ state.page }}"
    [value]="j"
    (change)="onAnswerChange(state.page, j)"
    [checked]="selectedAnswers[state.page] === j"
    [disabled]="!state.pageState[state.page].chooseState"
  />
  {{ choice }}
</div>
</div>

<!-- Submit button for each question -->
<button (click)="submitAnswer(state.page)" [disabled]="!state.pageState[state.page].chooseState">Submit Answer</button>

<br><br>

<div class="navigation"><b><u>Navigation</u></b></div>

<div class="flex space-x-2">
  <button 
    *ngFor="let page of structure.navigablePages" 
    (click)="navigate(page)" 
    class="px-4 py-2 text-black rounded transition"
  >
    {{ page }}
  </button>
</div>

<br>

<div class="statistics"><b><u>Statistics</u></b></div>
<ul>
  <li *ngFor="let key of state.statistics | keyvalue">
    {{ key.key }}: {{ key.value }}
  </li>
</ul>

<br>

<div class="statistics"><b>Page: </b>{{ state.page }}</div>

